@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */



:root {
  --bg: #286996;
  --palceholder: #D9D9D9;
  --buttonbg: #579dd0;
  --buttonbghover: #2c6186;
}


body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;

}